.bolum1{
    background-color:#DFB6B2;
}

.bolum2{
    background-color:#fbe4d8;
}

#pictr{
    border-radius: 50%;
    margin-bottom: 15px;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
.bolum3{
    background-color:#522B5C;
}
#yazi1{
    color: #ebebeb;
}

